//- .jumbo-cont.container

//- include nav
.jumbotron.jumbotron-fluid
    //- .jt-filter
    .container
        .row
            .col-xs-12.text-center
                h1.jumbs The Barkway
    //- #video-player.container-fluid(ng-controller="videoplayercontroller")
    //-     .row.padrow
    //-         .col-xs-12.full-height
    //-             h2.text-outline blah blah

                    //- img#play-btn.img-rounded(src="/img/vid-screen.png")
                    //- div#play-btn(ng-click="play()" ng-show="!playing")
//- p big fancy landing page! with services
//-
