.jumbotron.jumbotron-fluid
    .container.darken
        .row
            .col-xs-12.text-center
                .container
                    .h1
                        .h1indent the
                        .h1barkway barkway

                    blockquote.blockquote-reverse
                            a(href='tel:+1-303-295-0975', target='_blank')
                                .glyphicon.glyphicon-phone
                                | 303.295.0975
                            br
                            a(href='mailto:info@thebarkway.com', target='_blank')
                                .glyphicon.glyphicon-envelope
                                | info@thebarkway.com
                            br
                            a(href='//maps.google.com/maps?q=4891+Washington+St,+Denver,+CO+80216', target='_blank')
                                .glyphicon.glyphicon-map-marker
                                | 4891 Washington St, Denver, CO
