extends layout
block content

    #intro-daycare.container
        .container
            .row
                .col-sm-4.col-sm-offset-4.text-center
                    h2.bottom Our Facility

            p.text-justify.pad-fix
                | In October 2015 we moved to our brand-new custom designed climate-controlled facility located near I-25 and I-70. We have over 4500 sqft indoors, and another 2000 sqft outdoors, clean open play areas, redundant gates, eight foot fences, and webcams. Pop by anytime for a tour!

            .row.row-centered
                .col-xs-10.col-centered
                    #carousel123.carousel.carousel-showsixmoveone.slide(data-ride='carousel')
                        #instafeed.carousel-inner

    #services.strip-shadows
        .container
            .row.row-centered
                .col-md-12.col-centered
                    .col-sm-6.col-lg-6
                        h3.h3-services Daycare
                        p.justified-box
                            | Our friendly staff is trained in dog behavior, knows all of the dogs by name, and constantly supervises the dogs each day. We use force-free and positive reinforcement techniques as much as possible. Large and small dogs run in different groups. Check on your dog anytime on your phone with our webcam app.

                    .col-sm-6.col-lg-6
                        h3.h3-services Boarding
                        p.justified-box
                            | Dogs boarding run in daycare all day, then retire to a private kennel for the evening. Feel free to bring your dog’s bed and toys, or we will provide a cot and blanket. Our security system with cameras protects overnight guests after hours.

                .col-md-12.col-centered
                    .col-sm-6.col-lg-6
                        h3.h3-services Grooming
                        p.justified-box
                            | Our grooming area has 3 large tubs to accommodate dogs of any size. We wash or U wash &#8212; your choice.

                    .col-sm-6.col-lg-6
                        h3.h3-services Additional Services
                        p.justified-box
                            | Dog walking, pet sitting and dog taxi services are available. Please ask.

            .btn-pad.text-center
                button.btn.btn-lg.modal-btn(type='button', data-toggle='modal', data-target='#myModal').
                    Pricing &amp; Details

    #about-us.container
        .container
            .row
                .col-sm-6.text-center
                    h2 About us
                    //- br
            .row
                .col-md-8.text-justify
                    h4 Jeff &amp; Amy
                    p With nearly 20 years of combined experience, owners Jeff and Amy have been fully devoted to dog care since they started The Barkway in 2005. They worked with veterinarians, other daycare owners, and consultants to establish a safe and nurturing environment for your pet.
                    p Jeff, a graduate of University of Colorado with a degree in Music, is the day-to-day guy who oversees every aspect of caring for your pet (if you’ve been in, chances are you’ve spoken to Jeff). He (and several other employees of The Barkway) is Red Cross certified in Pet First Aid &amp; CPR.
                    p Amy, a graduate of University of Colorado with a degree in English, handles more of the behind-the-scenes action – you’ve likely seen more of her handiwork than her herself.
                    p Together, they have cared for three-legged dogs, blind dogs, deaf dogs, diabetic dogs, and dogs with behavioral issues. They have also worked with local dog rescues by fostering dogs and by providing daycare and boarding for dogs in need.
                    br
                    h4 Rusty &amp; Gracie
                    p Rusty, a beagle mix and Gracie, a beagle are our official greeters. When you come in, don’t be surprised to find them sleeping on the front doormat. Kindly step around/over them.
                .col-md-4
                    .embed-responsive.embed-responsive-16by9
                        video#about-video.embed-responsive-item(controls)
                            source(src='video/barkway.mp4', type='video/mp4')

    #location.strip-shadows
        .container
            .row
                .col-sm-6.text-center
                    h2 Location
                    //- br
            p  <!-- Responsive iFrame -->
            .embed-responsive.embed-responsive-4by3
                .embed-responsive-item
                iframe.embed-responsive-item(src='//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.970183763107!2d-104.98049098466993!3d39.785224501727015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79aeca0875c1%3A0x286248c559078acf!2s4891+Washington+St%2C+Denver%2C+CO+80216!5e0!3m2!1sen!2sus!4v1445468152230', frameborder='0', style='border: 0', allowfullscreen='')
            p <!-- END Responsive iFrame -->
    #footer.container.text-center
        p
            .glyphicon.glyphicon-copyright-mark
            |  Copyright #{pCdata.year} The Barkway |
            a(href='/privacypolicy.htm', target='_blank')
                |  Privacy Policy
