extends layout
block content
    .jumbotron
        .jt-filter
            #video-player.container-fluid(ng-controller="videoplayercontroller")
                .row
                    .col-xs-12.full-height
                .row
                    .col-xs-6
                        //- p some words
                    .col-xs-6
                        div(align="center", class="embed-responsive wrapper")
                            video#about-video.embed-responsive-item(ng-click="play()" ng-show="playing")
                                source(src="video/barkway.mp4", type="video/mp4")
                            #play-btn(ng-click="play()", ng-show="!playing")
                            //- img#play-btn.img-rounded(src="/img/vid-screen.png")
                            //- div#play-btn(ng-click="play()" ng-show="!playing")
                //- h1 thebarkway
    //- p big fancy landing page! with services
    //-
    #services.container
        .row
            .col-sm-12
                h2 Services
        .row.row-centered
            h3 Daycare
            .col-md-10.col-centered.col-centered-c
                //- p.text-center
                //- br
                div
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Use our webcams to watch your dog anytime!
                    //- br
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Fun, interactive environment.
                    //- br
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Any size dog welcome.
                    //- br
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Play groups with similar temperaments.
                    //- br
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Nearly 4,000 square feet of play space.
                    //- br
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Convenient downtown location.
                    //- br
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Full days or half days.
                    //- br
                    .line-block.text-center
                        p
                            span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                            | Second dog from same family receives a discount!
                //- .col-md-2.col-centered
                    p
        .row.row-centered
            .col-md-10.col-centered
                .col-md-4.col-sm-6
                    h3 U-Wash – $12
                    p.justified-box
                        br
                        |Convenient access tubs.
                        br
                        |We provide shampoo, conditioner, towels, hair dryers, toe nail clippers, etc.
                        br
                        |We do the cleanup!
                .col-md-4.col-sm-6
                    h3 We Wash – $25
                    p.justified-box
                        br
                        br
                        |If you don’t want to wash your dog – we can!
                        br
                        br
                        |Nail clip – $10
                        br
                        |Anal gland expression – $10
                //- .col-sm-6
                .col-md-4.col-sm-6
                    h3 Overnight Boarding – $12
                    p.justified-box
                        br
                        br
                        |(In addition to cost of daycare)
                        br
                        br
                        |Spacious kennels with blankets.
                        br
                        |Overnight guests join in daycare during the day.
                        br
                        |Security system protects overnight guests after normal hours of operation.
            //- .col-md-2.col-centered
                p
            .col-md-12
                p
                    h3 Additional Services
                    br
                    | We also offer alternative pick-up and drop-offs, dog walking, pet sitting and many other services you might need.
                    br
                    | Please call for quotes on these additional services.
