extends layout
block content

    #intro-daycare.container
        .container
            .row
                .col-sm-12
                    //- h2 Services
            .row
                //- .text-center
                .col-sm-6.text-center
                    h2 Daycare
                    br
                //- .col-sm-6

                //- .col-xs-1
                //- .col-xs-12.col-centered
                    //- p.text-center
                    //- br
                    //- div
                    //- .line-block.text-center
            p.text-justify.pad-fix
                //- br
                //- span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                | With nearly 4,000 sqft of open and airy play areas, our climate-controlled facility is a cage free environment with close supervision to preventing out-of-control play. We pay close attention to dogs in our care, and we'll you know if we notice anything.
                | You will have full access to check on your pups any time, using our live webcams.
                | We'll also work with you and your dogs to help identify and resolve any problems you may be concerened with. Whether it be potty-training your puppy, teaching your Lab not to jump up, or helping with anxiety in your Puggle, we can help!
                //- br
                //- br
                //- .row.row-centered
                //-     .col-md-4.col-sm-4.col-xs-8.col-centered.text-center
                //-         .btn.btn-lg.forms-btn(ng-click='forms=!forms', ng-hide='forms') Application and Waiver
                //- #applications(ng-show='forms')
                //-     p.
                //-         Please complete the application and a waiver. You can either hand deliver or email the completed forms.
                //-     ul
                //-         li.a() Application
                //-         li.a() Waiver – Hold Harmless Agreement
                //-         li.a() Boarding Information

                    //- -------------------------------------------------------------------
                    //- sliding AngularSlideables --------------------------------------------
                    //- -------------------------------------------------------------------



            //- br
            //- hr
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Open, airy play areas and a climate-controlled facility helps prevent outbreaks of kennel cough and other airborne illnesses.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | While we do encourage “naptime” once a day, your dog is not crated or separated from the other dogs.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Close supervision prevents out-of-control play, and fights over toys.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Use our internet webcams to check up on your pup – anytime!
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | We’ll work with you and your dogs to help identify and resolve any problems.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | We pay close attention to the dogs in our care, and we’ll let you know if we notice anything.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Full days or half days.
            //- //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Second dog from same family receives a discount!
        //- .col-md-2.col-centered
            p
        //- .col-xs-1
    #services.strip-shadows
        .container



            //- -------------------------------------------------------------------
            //- Services title ----------------------------------------------------
            //- -------------------------------------------------------------------


            //- .row
            //-     .col-sm-6.text-center
            //-         h2 Services
            //-         br
            .row.row-centered.row-shift
                .col-md-12.col-centered
                    .col-sm-6.col-lg-6
                        h3.h3-services Overnight
                        p.p-services.justified-box
                            br
                            |Spacious kennels with blankets.
                            //- br
                            //- |Overnight guests join in daycare during the day.
                            br
                            |Security system protects overnight guests after normal hours of operation.
                    .col-sm-6.col-lg-6
                        h3.h3-services U-Wash
                        p.p-services.justified-box
                            br
                            |Convenient access tubs.
                            br
                            |We provide shampoo, conditioner, towels, hair dryers, toe nail clippers, etc.
                            br
                            |We do the cleanup!
                    .col-sm-6.col-lg-6
                        h3.h3-services We Wash
                        p.p-services.justified-box
                            br
                            |If you don’t want to wash your dog – we can!
                            br
                            //- br
                            |Nail clip
                            br
                            |Anal gland expression
                    //- .col-lg-1
                    //- .clearfix.visible-lg-block
                    .col-sm-6.col-lg-6
                        //- .offset-lg-3
                        //- .offset-lg-4
                        h3.h3-services Additional Services
                        p.p-services.justified-box
                            br
                            | We also offer alternative pick-up and drop-offs, dog walking, pet sitting and many other services you might need.
                            br
                            | Please call for quotes on these additional services.
                //- .row
                //-     .col-sm-6.text-center
                //-         h3 Additional Services
                //-         br
                //- p.text-center.pad-fix
                //-     | We also offer alternative pick-up and drop-offs, dog walking, pet sitting and many other services you might need.
                //-     br
                //-     | Please call for quotes on these additional services.
                //- .col-md-4.col-sm-4.col-xs-8.col-centered
            .btn-pad.text-center
                button.btn.btn-lg.modal-btn(type='button', data-toggle='modal', data-target='#myModal').
                    Pricing and Details


            //- -------------------------------------------------------------------
            //- for a full list of services and pricing.---------------------------
            //- btn click here ----------------------------------------------------
            //- -------------------------------------------------------------------
    //- Button trigger modal
    //- Modal
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title Modal title
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close



    //- #additional-services.container
        //- .col-md-12

    #location.strip-shadows
        .container
            .row
                .col-sm-6.text-center
                    h2 Location
                    br
            p.text-center We are located at 4891 Washington St, Denver, CO.
            p  <!-- Responsive iFrame -->
            .embed-responsive.embed-responsive-4by3
                .embed-responsive-item.map-click(ng-click='mapshow=!mapshow', ng-hide='mapshow')
                iframe.embed-responsive-item(ng-show='mapshow', src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.970183763107!2d-104.98049098466993!3d39.785224501727015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79aeca0875c1%3A0x286248c559078acf!2s4891+Washington+St%2C+Denver%2C+CO+80216!5e0!3m2!1sen!2sus!4v1445468152230", frameborder="0", style="border: 0", allowfullscreen="")
                //- width="600", height="450",
            p <!-- END Responsive iFrame -->



    //- -------------------------------------------------------------------
    //- for a full list of services and pricing.---------------------------
    //- btn click here ----------------------------------------------------
    //- -------------------------------------------------------------------



    //- about us
        .row
            .col-xs-6
                //- p some words
            .col-xs-6
                div(align="center", class="embed-responsive wrapper")
                    video#about-video.embed-responsive-item(ng-click="play()" ng-show="playing")
                        source(src="video/barkway.mp4", type="video/mp4")
                    #play-btn(ng-click="play()", ng-show="!playing")
