extends layout
block content

    #intro-daycare.container
        .container
            .row
                .col-sm-12
                    //- h2 Services
            .row
                //- .text-center
                .col-sm-6.text-center
                    h2 Daycare
                    br
                //- .col-sm-6

                //- .col-xs-1
                //- .col-xs-12.col-centered
                    //- p.text-center
                    //- br
                    //- div
                    //- .line-block.text-center
            p.text-justify.pad-fix
                //- br
                //- span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
                | With nearly 4,000 sqft of open and airy play areas, our climate-controlled facility is a cage free environment with close supervision to preventing out-of-control play. We pay close attention to dogs in our care, and we'll you know if we notice anything.
                | You will have full access to check on your pups any time, using our live webcams.
                | We'll also work with you and your dogs to help identify and resolve any problems you may be concerened with. Whether it be potty-training your puppy, teaching your Lab not to jump up, or helping with anxiety in your Puggle, we can help!
                //- br
                //- br
                //- .row.row-centered
                //-     .col-md-4.col-sm-4.col-xs-8.col-centered.text-center
                //-         .btn.btn-lg.forms-btn(ng-click='forms=!forms', ng-hide='forms') Application and Waiver
                //- #applications(ng-show='forms')
                //-     p.
                //-         Please complete the application and a waiver. You can either hand deliver or email the completed forms.
                //-     ul
                //-         li.a() Application
                //-         li.a() Waiver – Hold Harmless Agreement
                //-         li.a() Boarding Information

                    //- -------------------------------------------------------------------
                    //- sliding AngularSlideables --------------------------------------------
                    //- -------------------------------------------------------------------



            //- br
            //- hr
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Open, airy play areas and a climate-controlled facility helps prevent outbreaks of kennel cough and other airborne illnesses.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | While we do encourage “naptime” once a day, your dog is not crated or separated from the other dogs.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Close supervision prevents out-of-control play, and fights over toys.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Use our internet webcams to check up on your pup – anytime!
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | We’ll work with you and your dogs to help identify and resolve any problems.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | We pay close attention to the dogs in our care, and we’ll let you know if we notice anything.
            //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Full days or half days.
            //- //- br
            //- .line-block.text-center
            //-     p
            //-         span(class="glyphicon glyphicon-chevron-right", aria-hidden="true")
            //-         | Second dog from same family receives a discount!
        //- .col-md-2.col-centered
            p
        //- .col-xs-1
    #services.strip-shadows
        .container



            //- -------------------------------------------------------------------
            //- Services title ----------------------------------------------------
            //- -------------------------------------------------------------------


            //- .row
            //-     .col-sm-6.text-center
            //-         h2 Services
            //-         br
            .row.row-centered.row-shift
                .col-md-12.col-centered
                    .col-sm-6.col-lg-6
                        h3.h3-services Overnight
                        p.p-services.justified-box
                            br
                            |Spacious kennels with blankets.
                            //- br
                            //- |Overnight guests join in daycare during the day.
                            br
                            |Security system protects overnight guests after normal hours of operation.
                    .col-sm-6.col-lg-6
                        h3.h3-services U-Wash
                        p.p-services.justified-box
                            br
                            |Convenient access tubs.
                            br
                            |We provide shampoo, conditioner, towels, hair dryers, toe nail clippers, etc.
                            br
                            |We do the cleanup!
                    .col-sm-6.col-lg-6
                        h3.h3-services We Wash
                        p.p-services.justified-box
                            br
                            |If you don’t want to wash your dog – we can!
                            br
                            //- br
                            |Nail clip
                            br
                            |Anal gland expression
                    //- .col-lg-1
                    //- .clearfix.visible-lg-block
                    .col-sm-6.col-lg-6
                        //- .offset-lg-3
                        //- .offset-lg-4
                        h3.h3-services Additional Services
                        p.p-services.justified-box
                            br
                            | We also offer alternative pick-up and drop-offs, dog walking, pet sitting and many other services you might need.
                            br
                            | Please call for quotes on these additional services.
                //- .row
                //-     .col-sm-6.text-center
                //-         h3 Additional Services
                //-         br
                //- p.text-center.pad-fix
                //-     | We also offer alternative pick-up and drop-offs, dog walking, pet sitting and many other services you might need.
                //-     br
                //-     | Please call for quotes on these additional services.
                //- .col-md-4.col-sm-4.col-xs-8.col-centered
            .btn-pad.text-center
                button.btn.btn-lg.modal-btn(type='button', data-toggle='modal', data-target='#myModal').
                    Pricing and Details


            //- -------------------------------------------------------------------
            //- for a full list of services and pricing.---------------------------
            //- btn click here ----------------------------------------------------
            //- -------------------------------------------------------------------
    //- Button trigger modal
    //- Modal


    
    //- #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    //-     .modal-dialog(role='document')
    //-         .modal-content
    //-             .modal-header
    //-                 button.close(type='button', data-dismiss='modal', aria-label='Close')
    //-                     span(aria-hidden='true') ×
    //-                 h4#myModalLabel.modal-title Modal title
    //-             .modal-body
    //-                 section.entry-content
    //-                     #content
    //-                         h2 Daycare Hours
    //-                         p
    //-                           | All dogs require a FREE trial day evaluation for daycare. Call to schedule today.
    //-                         ul
    //-                           li Monday through Friday 6:30 AM to 7:00 PM
    //-                           li Saturdays and Sundays 7 to 11am and 3 to 7pm
    //-                           li
    //-                             | Please make daily and standing reservations at least 24 hours prior, limited space is available
    //-                           li
    //-                             strong
    //-                               | LATE FEES: Owners of dogs not picked up by 7:01 PM will be charged a late fee of $10
    //-                           li
    //-                             em Dogs not picked up by 7:15 PM will be boarded overnight at owner’s expense
    //-                         p
    //-                           strong Please be aware:
    //-                           |  Holidays are very busy boarding times for The Barkway. First priority is given to dogs that attend daycare regularly (at least once a week), and dogs that board regularly (at least 9 nights in the last 3 months). All others are put on a wait-list, and will be notified of availability one month before the holiday. Please note that the kennels fill up quickly, and most wait-listed dogs will stay in a crate overnight.
    //-                         h2 Pricing
    //-                         h2
    //-                           | Daycare (packages that
    //-                           span(style='text-decoration: underline;') expire
    //-                           |  – duration time is in parentheses)
    //-                         table#pricing(border='0', cellspacing='0', cellpadding='2')
    //-                           tbody
    //-                             tr.color
    //-                               td # of Dogs
    //-                               td 1 Visit
    //-                               td
    //-                                 | 5 Visits
    //-                                 br
    //-                                 | (2 weeks)
    //-                               td
    //-                                 | 10 Visits
    //-                                 br
    //-                                 | (4 weeks)
    //-                               td
    //-                                 | 20 Visits
    //-                                 br
    //-                                 | (8 weeks)
    //-                             tr
    //-                               td.dogs(rowspan='2') 1
    //-                               td.totalprice(valign='top') $25
    //-                               td.totalprice(valign='top') $100.00
    //-                               td.totalprice(valign='top') $185.00
    //-                               td.totalprice(valign='top') $350.00
    //-                             tr
    //-                               td.pricexpl(valign='top')
    //-                               td.pricexpl(valign='top') $20/visit
    //-                               td.pricexpl(valign='top') $18.50/visit
    //-                               td.pricexpl(valign='top') $17.50/visit
    //-                             tr
    //-                               td.dogs(rowspan='2') 2
    //-                               td.totalprice(valign='top') $40
    //-                               td.totalprice(valign='top') $172.00
    //-                               td.totalprice(valign='top') $316.00
    //-                               td.totalprice(valign='top') $589.00
    //-                             tr
    //-                               td.pricexpl(valign='top') ($20.00 per dog)
    //-                               td.pricexpl(valign='top')
    //-                                 | $34.40/visit
    //-                                 br
    //-                                 | (17.20 per dog)
    //-                               td.pricexpl(valign='top')
    //-                                 | $31.60/visit
    //-                                 br
    //-                                 | ($15.80 per dog)
    //-                               td.pricexpl(valign='top')
    //-                                 | $29.45/visit
    //-                                 br
    //-                                 | ($14.73 per dog)
    //-                             tr
    //-                               td.dogs(rowspan='2') 3
    //-                               td.totalprice(valign='top') $53
    //-                               td.totalprice(valign='top') $250.00
    //-                               td.totalprice(valign='top') $458.00
    //-                               td.totalprice(valign='top') $850
    //-                             tr
    //-                               td.pricexpl(valign='top') ($17.67 per dog)
    //-                               td.pricexpl(valign='top')
    //-                                 | $50/visit
    //-                                 br
    //-                                 | ($16.67 per dog)
    //-                               td.pricexpl(valign='top')
    //-                                 | $45.80/visit
    //-                                 br
    //-                                 | ($15.27 per dog)
    //-                               td.pricexpl(valign='top')
    //-                                 | $42.50/visit
    //-                                 br
    //-                                 | ($14.17 per dog)
    //-                         h2
    //-                           | Daycare (packages that
    //-                           span(style='text-decoration: underline;') don’t expire
    //-                           | )
    //-                         table#pricing(border='0', cellspacing='0', cellpadding='2')
    //-                           tbody
    //-                             tr.color
    //-                               td # of Dogs
    //-                               td 1 Visit
    //-                               td 5 Visits
    //-                               td 10 Visits
    //-                               td 20 Visits
    //-                             tr
    //-                               td.dogs(rowspan='2') 1
    //-                               td.totalprice(valign='top') $25
    //-                               td.totalprice(valign='top') $110.00
    //-                               td.totalprice(valign='top') $205.00
    //-                               td.totalprice(valign='top') $380.00
    //-                             tr
    //-                               td.pricexpl(valign='top')
    //-                               td.pricexpl(valign='top') $22/visit
    //-                               td.pricexpl(valign='top') $20.50/visit
    //-                               td.pricexpl(valign='top') $19/visit
    //-                             tr
    //-                               td.dogs(rowspan='2') 2
    //-                               td.totalprice(valign='top') $40
    //-                               td.totalprice(valign='top') $186
    //-                               td.totalprice(valign='top') $342.00
    //-                               td.totalprice(valign='top') $643.00
    //-                             tr
    //-                               td.pricexpl(valign='top') ($20 per dog)
    //-                               td.pricexpl(valign='top') $37.20/visit ($18.60/dog)
    //-                               td.pricexpl(valign='top') $34.20/visit ($17.10/dog)
    //-                               td.pricexpl(valign='top') $32.15/visit ($16.08/dog)
    //-                             tr
    //-                               td.dogs(rowspan='2') 3
    //-                               td.totalprice(valign='top') $53
    //-                               td.totalprice(valign='top') $270.00
    //-                               td.totalprice(valign='top') $496.00
    //-                               td.totalprice(valign='top') $929.00
    //-                             tr
    //-                               td.pricexpl(valign='top') ($28.67 per dog)
    //-                               td.pricexpl(valign='top') $54.00/visit ($18.00/dog)
    //-                               td.pricexpl(valign='top') $49.60/visit ($16.54/dog)
    //-                               td.pricexpl(valign='top') $46.45/visit ($15.49/dog)
    //-                         ul
    //-                           li
    //-                             | Dogs with daycare packages that are boarding may use their package days for daycare and pay $10 per dog per night.
    //-                           li Half-days (any day under 5 hours) are available for $16.50 per day.
    //-                           li
    //-                             strong
    //-                               em Package days may not be split for half-days.
    //-                         h2 Overnight Boarding (includes the cost of daycare)
    //-                         p
    //-                           | All prices quoted assume a pickup time before 11am. Dogs picked up after 11am will be charged for daycare for the day.
    //-                         table#pricing(border='0', cellspacing='0', cellpadding='2')
    //-                           tbody
    //-                             tr.color
    //-                               td # of Dogs
    //-                               td 1 Night
    //-                               td 3 Nights
    //-                               td 5 Nights
    //-                               td 7 Nights
    //-                             tr
    //-                               td.dogs(rowspan='2') 1
    //-                               td.totalprice(valign='top', width='156') $37
    //-                               td.totalprice(valign='top', width='180') $102
    //-                               td.totalprice(valign='top', width='168') $165
    //-                               td.totalprice(valign='top', width='180') $217
    //-                             tr
    //-                               td.pricexpl(valign='top')
    //-                               td.pricexpl(valign='top', width='180') $34/night
    //-                               td.pricexpl(valign='top', width='168') $33/night
    //-                               td.pricexpl(valign='top', width='180') $31/night
    //-                             tr
    //-                               td.dogs(rowspan='2') 2
    //-                               td.totalprice(valign='top', width='156') $61
    //-                               td.totalprice(valign='top', width='180') $168
    //-                               td.totalprice(valign='top', width='168') $270
    //-                               td.totalprice(valign='top', width='180') $364
    //-                             tr
    //-                               td.pricexpl(valign='top') ($30.50 per dog)
    //-                               td.pricexpl(valign='top', width='180')
    //-                                 | $56/night
    //-                                 br
    //-                                 | ($28.00 per dog)
    //-                               td.pricexpl(valign='top', width='168')
    //-                                 | $54/night
    //-                                 br
    //-                                 | ($27 per dog)
    //-                               td.pricexpl(valign='top', width='180')
    //-                                 | $52/night
    //-                                 br
    //-                                 | ($26 per dog)
    //-                             tr
    //-                               td.dogs(rowspan='2') 3
    //-                               td.totalprice(valign='top', width='156') $86
    //-                               td.totalprice(valign='top', width='180') $234
    //-                               td.totalprice(valign='top', width='168') $380
    //-                               td.totalprice(valign='top', width='180') $418
    //-                             tr
    //-                               td.pricexpl(valign='top') ($43.00 per dog)
    //-                               td.pricexpl(valign='top', width='180')
    //-                                 | $78/night
    //-                                 br
    //-                                 | ($26 per dog)
    //-                               td.pricexpl(valign='top', width='168')
    //-                                 | $76/night
    //-                                 br
    //-                                 | ($25.34 per dog)
    //-                               td.pricexpl(valign='top', width='180')
    //-                                 | $74/night
    //-                                 br
    //-                                 | ($24.67 per dog)
    //-                         p Give us a call if you have questions about boarding or multi-dog discounts.
    //-                         h2 Reservation Policies
    //-                         p
    //-                           | To ensure the safety and happiness of all daycare dogs The Barkway is now requesting reservations for dogs attending daycare. Please make a reservation so that we may ensure a place for your dog. Reservations are not mandatory, but recommended.
    //-                         ul
    //-                           li
    //-                             strong Standing Reservations
    //-                             | : If you bring your dog(s) on the same days each week it is recommended that you make a standing reservation, that way we will always have room for your dog on their scheduled day!
    //-                           li
    //-                             strong Daily Reservations:
    //-                             |  If your dog attends sporadically, you can let us know when your dog will attend as soon as you know. Daily reservations are accepted on a first come, first served basis and can be made as much as one month in advance. Please be sure to call as far in advance as possible to ensure we have room for your dog on your requested day.
    //-                           li
    //-                             strong Late Fees: Dogs not picked up by 7:01 PM will be charged a late fee of $10
    //-                           li
    //-                             strong Drop-Ins:
    //-                             | Once reserved spots are filled, we will accept drop-ins as space allows. When we have reached maximum capacity, dogs may be turned away. (Maximum capacity may vary as staff is scheduled according to the number of dogs expected each day).
    //-                           li
    //-                             strong
    //-                               | Please give us a minimum of 24 hours notice if your dog will not be attending day care on a scheduled day.
    //-                         h2 U-Wash
    //-                         p $12 (shampoo and conditioner included)
    //-                         h2 We Wash – $25
    //-                         p If you don’t want to wash your dog – we can!
    //-                         ul
    //-                           li Nail clip – $10
    //-                           li Anal gland expression (recommended with a bath) – $10
    //-                         h2 Overnight Boarding
    //-                         p $12/day plus cost of daycare (all boarded dogs must participate in daycare)
    //-
    //-             .modal-footer
    //-                 button.btn.btn-secondary(type='button', data-dismiss='modal') Close



    //- #additional-services.container
        //- .col-md-12

    #about-us.container
        .container
            .row
                .col-sm-6.text-center
                    h2 About us
                    br
            p.text-center We are
            //- p  <!-- Responsive iFrame -->
            //- .embed-responsive.embed-responsive-4by3
                //- .embed-responsive-item.map-click(ng-click='mapshow=!mapshow', ng-hide='mapshow')
                //- iframe.embed-responsive-item(ng-show='mapshow', src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.970183763107!2d-104.98049098466993!3d39.785224501727015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79aeca0875c1%3A0x286248c559078acf!2s4891+Washington+St%2C+Denver%2C+CO+80216!5e0!3m2!1sen!2sus!4v1445468152230", frameborder="0", style="border: 0", allowfullscreen="")
                //- width="600", height="450",
            p <!-- END Responsive iFrame -->

    #location.strip-shadows
        .container
            .row
                .col-sm-6.text-center
                    h2 Location
                    br
            p.text-center We are located at 4891 Washington St, Denver, CO.
            p  <!-- Responsive iFrame -->
            .embed-responsive.embed-responsive-4by3
                .embed-responsive-item.map-click(ng-click='mapshow=!mapshow', ng-hide='mapshow')
                iframe.embed-responsive-item(ng-show='mapshow', src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3065.970183763107!2d-104.98049098466993!3d39.785224501727015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79aeca0875c1%3A0x286248c559078acf!2s4891+Washington+St%2C+Denver%2C+CO+80216!5e0!3m2!1sen!2sus!4v1445468152230", frameborder="0", style="border: 0", allowfullscreen="")
                //- width="600", height="450",
            p <!-- END Responsive iFrame -->


    //- -------------------------------------------------------------------
    //- for a full list of services and pricing.---------------------------
    //- btn click here ----------------------------------------------------
    //- -------------------------------------------------------------------



    //- about us
        .row
            .col-xs-6
                //- p some words
            .col-xs-6
                div(align="center", class="embed-responsive wrapper")
                    video#about-video.embed-responsive-item(ng-click="play()" ng-show="playing")
                        source(src="video/barkway.mp4", type="video/mp4")
                    #play-btn(ng-click="play()", ng-show="!playing")
