doctype html
html(ng-app="app")
    head
        title= 'The Barkway | Best Friends for Your Best Friend'
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-capable", content="yes")
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Montserrat|Rancho|PT+Sans+Narrow")
        link(rel='stylesheet', href='css/main.css')
        //- link(rel='stylesheet', href= routeCss)
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    body.container-fluid
        include nav
        //- #jumbo-cont
        include jumbotron
        include modal
        //- div(ng-view)
        //- include landing
        block content

    script(src="app/app.js", type="application/javascript")
    script(src="app/controllers.js",type="application/javascript")
