#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h2.modal-title Pricing and Details
            .modal-body
                section.entry-content
                    #content
                        p
                            | All dogs require a FREE trial day evaluation for daycare. Call to schedule today.
                        ul
                            li Monday through Friday 6:30 AM to 7:00 PM
                            li Saturdays and Sundays 7 to 11am and 3 to 7pm
                            li Please make daily and standing reservations at least 24 hours prior, limited space is available
                            li
                                strong
                                    | LATE FEES: Owners of dogs not picked up by 7:01 PM will be charged a late fee of $10
                            li
                                em
                                    | Dogs not picked up by 7:15 PM will be boarded overnight at owner’s expense
                            li Please complete the application and a waiver. You can either hand deliver or email the completed forms.
                        p
                            strong Please be aware:
                            |  Holidays are very busy boarding times for The Barkway. First priority is given to dogs that attend daycare regularly (at least once a week), and dogs that board regularly (at least 9 nights in the last 3 months). All others are put on a wait-list, and will be notified of availability one month before the holiday. Please note that the kennels fill up quickly, and most wait-listed dogs will stay in a crate overnight.
                        h3 Expiring Daycare Packages
                        .table-responsive
                            table.table.table-sm.table-bordered(border='0', cellspacing='0', cellpadding='2')
                                tbody
                                    tr.color
                                        td # of Dogs
                                        td 1 Visit
                                        td
                                            | 5 Visits
                                            br
                                            | in 2 weeks
                                        td
                                            | 10 Visits
                                            br
                                            | in 4 weeks
                                        td
                                            | 20 Visits
                                            br
                                            | in 8 weeks
                                    tr
                                        td.dogs(rowspan='2') 1
                                        td.totalprice(valign='top') $28
                                        td.totalprice(valign='top') $110
                                        td.totalprice(valign='top') $200
                                        td.totalprice(valign='top') $380
                                    tr
                                        td.pricexpl(valign='top') $28/visit
                                        td.pricexpl(valign='top') $22/visit
                                        td.pricexpl(valign='top') $20/visit
                                        td.pricexpl(valign='top') $19/visit
                                    tr
                                        td.dogs(rowspan='2') 2
                                        td.totalprice(valign='top') $44
                                        td.totalprice(valign='top') $185
                                        td.totalprice(valign='top') $340
                                        td.totalprice(valign='top') $630
                                    tr
                                        td.pricexpl(valign='top') $22/dog
                                        td.pricexpl(valign='top') $18.50/dog
                                        td.pricexpl(valign='top') $17/dog
                                        td.pricexpl(valign='top') $15.75/dog
                                    tr
                                        td.dogs(rowspan='2') 3
                                        td.totalprice(valign='top') $57
                                        td.totalprice(valign='top') $265
                                        td.totalprice(valign='top') $500
                                        td.totalprice(valign='top') $900
                                    tr
                                        td.pricexpl(valign='top') $19/dog
                                        td.pricexpl(valign='top') $17.66/dog
                                        td.pricexpl(valign='top') $16.67/dog
                                        td.pricexpl(valign='top') $15/dog
                        h3 Non-Expiring Daycare Packages
                        .table-responsive
                            table.table.table-sm.table-bordered(border='0', cellspacing='0', cellpadding='2')
                                tbody
                                    tr.color
                                        td # of Dogs
                                        td 1 Visit
                                        td 5 Visits
                                        td 10 Visits
                                        td 20 Visits
                                    tr
                                        td.dogs(rowspan='2') 1
                                        td.totalprice(valign='top') $28
                                        td.totalprice(valign='top') $120
                                        td.totalprice(valign='top') $220
                                        td.totalprice(valign='top') $410
                                    tr
                                        td.pricexpl(valign='top') $28/viseit
                                        td.pricexpl(valign='top') $24/visit
                                        td.pricexpl(valign='top') $22/visit
                                        td.pricexpl(valign='top') $20.50/visit
                                    tr
                                        td.dogs(rowspan='2') 2
                                        td.totalprice(valign='top') $44
                                        td.totalprice(valign='top') $200
                                        td.totalprice(valign='top') $365
                                        td.totalprice(valign='top') $680
                                    tr
                                        td.pricexpl(valign='top') $22/dog
                                        td.pricexpl(valign='top') $20/dog
                                        td.pricexpl(valign='top') $18.25/dog
                                        td.pricexpl(valign='top') $17/dog
                                    tr
                                        td.dogs(rowspan='2') 3
                                        td.totalprice(valign='top') $57
                                        td.totalprice(valign='top') $275
                                        td.totalprice(valign='top') $540
                                        td.totalprice(valign='top') $1000
                                    tr
                                        td.pricexpl(valign='top') $19/dog
                                        td.pricexpl(valign='top') $18.33/dog
                                        td.pricexpl(valign='top') $18/dog
                                        td.pricexpl(valign='top') $16.67/dog
                        ul
                            li Dogs with daycare packages that are boarding may use their package days for daycare and pay $12 per dog per night.
                            li Half-days (any day under 5 hours) are available for $18 per day.
                            li
                                strong
                                    em Package days may not be split for half-days.
                        h3 Overnight Boarding
                        .table-responsive
                            table.table.table-sm.table-bordered(border='0', cellspacing='0', cellpadding='2')
                                tbody
                                    tr.color
                                        td # of Dogs
                                        td 1 Night
                                        td 2 Nights
                                        td 3 Nights
                                        td 4 Nights
                                        td 5 Nights
                                        td 6 Nights
                                        td 7 Nights
                                    tr
                                        td.dogs(rowspan='2') 1
                                        td.totalprice(valign='top') $40
                                        td.totalprice(valign='top') $80
                                        td.totalprice(valign='top') $111
                                        td.totalprice(valign='top') $148
                                        td.totalprice(valign='top') $180
                                        td.totalprice(valign='top') $216
                                        td.totalprice(valign='top') $238
                                    tr
                                        td.pricexpl(valign='top') $40/night
                                        td.pricexpl(valign='top') $40/night
                                        td.pricexpl(valign='top') $37/night
                                        td.pricexpl(valign='top') $37/night
                                        td.pricexpl(valign='top') $36/night
                                        td.pricexpl(valign='top') $36/night
                                        td.pricexpl(valign='top') $34/night
                                    tr
                                        td.dogs(rowspan='2') 2
                                        td.totalprice(valign='top') $65
                                        td.totalprice(valign='top') $130
                                        td.totalprice(valign='top') $180
                                        td.totalprice(valign='top') $240
                                        td.totalprice(valign='top') $290
                                        td.totalprice(valign='top') $348
                                        td.totalprice(valign='top') $392
                                    tr
                                        td.pricexpl(valign='top') $31.50/dog
                                        td.pricexpl(valign='top') $31.50/dog
                                        td.pricexpl(valign='top') $30/dog
                                        td.pricexpl(valign='top') $30/dog
                                        td.pricexpl(valign='top') $29/dog
                                        td.pricexpl(valign='top') $29/dog
                                        td.pricexpl(valign='top') $28/dog
                                    tr
                                        td.dogs(rowspan='2') 3
                                        td.totalprice(valign='top') $93
                                        td.totalprice(valign='top') $186
                                        td.totalprice(valign='top') $261
                                        td.totalprice(valign='top') $348
                                        td.totalprice(valign='top') $420
                                        td.totalprice(valign='top') $504
                                        td.totalprice(valign='top') $567
                                    tr
                                        td.pricexpl(valign='top') $31/dog
                                        td.pricexpl(valign='top') $31/dog
                                        td.pricexpl(valign='top') $29/dog
                                        td.pricexpl(valign='top') $29/dog
                                        td.pricexpl(valign='top') $28/dog
                                        td.pricexpl(valign='top') $28/dog
                                        td.pricexpl(valign='top') $27/dog
                        p.text-center
                            em Stays of 7+ are charged at a rate of $34/night, 2 dogs are charged at $56, and 3 dogs at $81.
                        ul
                            li Boarders are encouraged to drop off before noon
                            li Prices include daycare on drop-off day, and overnight until 11am.&nbsp;
                                strong
                                    em
                                        | Dogs left after 11am will be charged an additional day of daycare
                        h3 Reservation Policies
                        p
                            | To ensure the safety and happiness of all daycare dogs The Barkway is now requesting reservations for dogs attending daycare. Please make a reservation so that we may ensure a place for your dog. Reservations are not mandatory, but recommended.
                        ul
                            li
                                strong Standing Reservations
                                | : If you bring your dog(s) on the same days each week it is recommended that you make a standing reservation, that way we will always have room for your dog on their scheduled day!
                            li
                                strong Daily Reservations:
                                |  If your dog attends sporadically, you can let us know when your dog will attend as soon as you know. Daily reservations are accepted on a first come, first served basis and can be made as much as one month in advance. Please be sure to call as far in advance as possible to ensure we have room for your dog on your requested day.
                            li
                                strong Late Fees: Dogs not picked up by 7:01 PM will be charged a late fee of $10
                            li
                                strong Drop-Ins:
                                | Once reserved spots are filled, we will accept drop-ins as space allows. When we have reached maximum capacity, dogs may be turned away. (Maximum capacity may vary as staff is scheduled according to the number of dogs expected each day).
                            li
                                strong
                                    | Please give us a minimum of 24 hours notice if your dog will not be attending day care on a scheduled day.
                        h3 U-Wash - $12
                        p shampoo and conditioner included
                        h3 We Wash – $25
                        p If you don’t want to wash your dog – we can!
                        ul
                            li Nail clip – $10
                            li Anal gland expression (recommended with a bath) – $10
                        h3 Overnight Boarding - $12
                        p In addition to cost of daycare (all boarded dogs must participate in daycare)

                        p#dyklink.text-center(style='display: block;')
                            a(href='#dyk', onclick="toggle_visibility('dyk'); toggle_visibility('dyklink')") Did you know?
                        #dyk(style='display: none;')
                            h3.text-center DID YOU KNOW?
                            h5 We provide:
                            ul
                                li Free or reduced daycare for foster dogs. If you bring in a foster dog with your dog, the foster dog gets free daycare. If you bring in a foster dog alone, you get 50% off the regular one-day price of daycare.
                                li Reduced pricing for shelter/rescue dogs. Dogs recently adopted from a rescue or shelter receive 10% off all daycare packages for six months.
                                li Take-home pet-sitting. If your dog can’t be left in a kennel overnight, or otherwise requires special attention, we will bring him/her home with us to stay at our house for only $10 extra per night.
                                li Pick up/drop off service. Can’t get in by 7pm to pick up your dog? We will drop him off for you. Pricing depends on location.
                                li Dog walking. Want your dog to get exercise during the day but can’t or don’t want to daycare? We will do a lunchtime walk. A 25 minute visit (includes a 20 minute walk plus watering and feeding/medicine admin as needed) is $30.
                                li Pet taxi. Does your dog have a vet appointment on a daycare day? No problem, we can drive him/her there, wait, and drive him/her back. $20 per hour.

            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close