#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h2.modal-title Pricing and Details
            .modal-body
                section.entry-content
                    #content
                        p
                            | All dogs require a FREE trial day evaluation for daycare. Call to schedule today.
                        ul
                            li Monday through Friday 6:30 AM to 7:00 PM
                            li Saturdays and Sundays 7 to 11am and 3 to 7pm
                            li
                                | Please make daily and standing reservations at least 24 hours prior, limited space is available
                            li
                                strong
                                    | LATE FEES: Owners of dogs not picked up by 7:01 PM will be charged a late fee of $10
                            li
                                em Dogs not picked up by 7:15 PM will be boarded overnight at owner’s expense
                        p
                            strong Please be aware:
                            |  Holidays are very busy boarding times for The Barkway. First priority is given to dogs that attend daycare regularly (at least once a week), and dogs that board regularly (at least 9 nights in the last 3 months). All others are put on a wait-list, and will be notified of availability one month before the holiday. Please note that the kennels fill up quickly, and most wait-listed dogs will stay in a crate overnight.
                        h3
                            | Daycare (packages that&nbsp;
                            span(style='text-decoration: underline;') expire
                            |  – duration time is in parentheses)
                        .table-responsive
                            table.table.table-sm.table-bordered(border='0', cellspacing='0', cellpadding='2')
                                tbody
                                    tr.color
                                        td # of Dogs
                                        td 1 Visit
                                        td
                                            | 5 Visits
                                            br
                                            | (2 weeks)
                                        td
                                            | 10 Visits
                                            br
                                            | (4 weeks)
                                        td
                                            | 20 Visits
                                            br
                                            | (8 weeks)
                                    tr
                                        td.dogs(rowspan='2') 1
                                        td.totalprice(valign='top') $25
                                        td.totalprice(valign='top') $100.00
                                        td.totalprice(valign='top') $185.00
                                        td.totalprice(valign='top') $350.00
                                    tr
                                        td.pricexpl(valign='top')
                                        td.pricexpl(valign='top') $20/visit
                                        td.pricexpl(valign='top') $18.50/visit
                                        td.pricexpl(valign='top') $17.50/visit
                                    tr
                                        td.dogs(rowspan='2') 2
                                        td.totalprice(valign='top') $40
                                        td.totalprice(valign='top') $172.00
                                        td.totalprice(valign='top') $316.00
                                        td.totalprice(valign='top') $589.00
                                    tr
                                        td.pricexpl(valign='top') ($20.00 per dog)
                                        td.pricexpl(valign='top')
                                            | $34.40/visit
                                            br
                                            | (17.20 per dog)
                                        td.pricexpl(valign='top')
                                            | $31.60/visit
                                            br
                                            | ($15.80 per dog)
                                        td.pricexpl(valign='top')
                                            | $29.45/visit
                                            br
                                            | ($14.73 per dog)
                                    tr
                                        td.dogs(rowspan='2') 3
                                        td.totalprice(valign='top') $53
                                        td.totalprice(valign='top') $250.00
                                        td.totalprice(valign='top') $458.00
                                        td.totalprice(valign='top') $850
                                    tr
                                        td.pricexpl(valign='top') ($17.67 per dog)
                                        td.pricexpl(valign='top')
                                            | $50/visit
                                            br
                                            | ($16.67 per dog)
                                        td.pricexpl(valign='top')
                                            | $45.80/visit
                                            br
                                            | ($15.27 per dog)
                                        td.pricexpl(valign='top')
                                            | $42.50/visit
                                            br
                                            | ($14.17 per dog)
                        h3
                            | Daycare (packages that&nbsp;
                            span(style='text-decoration: underline;') don’t expire
                            | )
                        .table-responsive
                            table.table.table-sm.table-bordered(border='0', cellspacing='0', cellpadding='2')
                                tbody
                                    tr.color
                                        td # of Dogs
                                        td 1 Visit
                                        td 5 Visits
                                        td 10 Visits
                                        td 20 Visits
                                    tr
                                        td.dogs(rowspan='2') 1
                                        td.totalprice(valign='top') $25
                                        td.totalprice(valign='top') $110.00
                                        td.totalprice(valign='top') $205.00
                                        td.totalprice(valign='top') $380.00
                                    tr
                                        td.pricexpl(valign='top')
                                        td.pricexpl(valign='top') $22/visit
                                        td.pricexpl(valign='top') $20.50/visit
                                        td.pricexpl(valign='top') $19/visit
                                    tr
                                        td.dogs(rowspan='2') 2
                                        td.totalprice(valign='top') $40
                                        td.totalprice(valign='top') $186
                                        td.totalprice(valign='top') $342.00
                                        td.totalprice(valign='top') $643.00
                                    tr
                                        td.pricexpl(valign='top') ($20 per dog)
                                        td.pricexpl(valign='top') $37.20/visit ($18.60/dog)
                                        td.pricexpl(valign='top') $34.20/visit ($17.10/dog)
                                        td.pricexpl(valign='top') $32.15/visit ($16.08/dog)
                                    tr
                                        td.dogs(rowspan='2') 3
                                        td.totalprice(valign='top') $53
                                        td.totalprice(valign='top') $270.00
                                        td.totalprice(valign='top') $496.00
                                        td.totalprice(valign='top') $929.00
                                    tr
                                        td.pricexpl(valign='top') ($28.67 per dog)
                                        td.pricexpl(valign='top') $54.00/visit ($18.00/dog)
                                        td.pricexpl(valign='top') $49.60/visit ($16.54/dog)
                                        td.pricexpl(valign='top') $46.45/visit ($15.49/dog)
                        ul
                            li
                                | Dogs with daycare packages that are boarding may use their package days for daycare and pay $10 per dog per night.
                            li Half-days (any day under 5 hours) are available for $16.50 per day.
                            li
                                strong
                                    em Package days may not be split for half-days.
                        h3 Overnight Boarding (includes the cost of daycare)
                        p
                            | All prices quoted assume a pickup time before 11am. Dogs picked up after 11am will be charged for daycare for the day.
                        .table-responsive
                            table.table.table-sm.table-bordered(border='0', cellspacing='0', cellpadding='2')
                                tbody
                                    tr.color
                                        td # of Dogs
                                        td 1 Night
                                        td 3 Nights
                                        td 5 Nights
                                        td 7 Nights
                                    tr
                                        td.dogs(rowspan='2') 1
                                        td.totalprice(valign='top', width='156') $37
                                        td.totalprice(valign='top', width='180') $102
                                        td.totalprice(valign='top', width='168') $165
                                        td.totalprice(valign='top', width='180') $217
                                    tr
                                        td.pricexpl(valign='top')
                                        td.pricexpl(valign='top', width='180') $34/night
                                        td.pricexpl(valign='top', width='168') $33/night
                                        td.pricexpl(valign='top', width='180') $31/night
                                    tr
                                        td.dogs(rowspan='2') 2
                                        td.totalprice(valign='top', width='156') $61
                                        td.totalprice(valign='top', width='180') $168
                                        td.totalprice(valign='top', width='168') $270
                                        td.totalprice(valign='top', width='180') $364
                                    tr
                                        td.pricexpl(valign='top') ($30.50 per dog)
                                        td.pricexpl(valign='top', width='180')
                                            | $56/night
                                            br
                                            | ($28.00 per dog)
                                        td.pricexpl(valign='top', width='168')
                                            | $54/night
                                            br
                                            | ($27 per dog)
                                        td.pricexpl(valign='top', width='180')
                                            | $52/night
                                            br
                                            | ($26 per dog)
                                    tr
                                        td.dogs(rowspan='2') 3
                                        td.totalprice(valign='top', width='156') $86
                                        td.totalprice(valign='top', width='180') $234
                                        td.totalprice(valign='top', width='168') $380
                                        td.totalprice(valign='top', width='180') $418
                                    tr
                                        td.pricexpl(valign='top') ($43.00 per dog)
                                        td.pricexpl(valign='top', width='180')
                                            | $78/night
                                            br
                                            | ($26 per dog)
                                        td.pricexpl(valign='top', width='168')
                                            | $76/night
                                            br
                                            | ($25.34 per dog)
                                        td.pricexpl(valign='top', width='180')
                                            | $74/night
                                            br
                                            | ($24.67 per dog)
                        p Give us a call if you have questions about boarding or multi-dog discounts.
                        h3 Reservation Policies
                        p
                            | To ensure the safety and happiness of all daycare dogs The Barkway is now requesting reservations for dogs attending daycare. Please make a reservation so that we may ensure a place for your dog. Reservations are not mandatory, but recommended.
                        ul
                            li
                                strong Standing Reservations
                                | : If you bring your dog(s) on the same days each week it is recommended that you make a standing reservation, that way we will always have room for your dog on their scheduled day!
                            li
                                strong Daily Reservations:
                                |  If your dog attends sporadically, you can let us know when your dog will attend as soon as you know. Daily reservations are accepted on a first come, first served basis and can be made as much as one month in advance. Please be sure to call as far in advance as possible to ensure we have room for your dog on your requested day.
                            li
                                strong Late Fees: Dogs not picked up by 7:01 PM will be charged a late fee of $10
                            li
                                strong Drop-Ins:
                                | Once reserved spots are filled, we will accept drop-ins as space allows. When we have reached maximum capacity, dogs may be turned away. (Maximum capacity may vary as staff is scheduled according to the number of dogs expected each day).
                            li
                                strong
                                    | Please give us a minimum of 24 hours notice if your dog will not be attending day care on a scheduled day.
                        h3 U-Wash - $12
                        p shampoo and conditioner included
                        h3 We Wash – $25
                        p If you don’t want to wash your dog – we can!
                        ul
                            li Nail clip – $10
                            li Anal gland expression (recommended with a bath) – $10
                        h3 Overnight Boarding - $12
                        p In addition to cost of daycare (all boarded dogs must participate in daycare)

            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
